<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <br>
    <a href="/user">유저 목록</a>
    <br>
    <a href="/board_list">글 목록</a>
    <br>
    <a href="/user_sign">회원가입 및 정보수정</a>
    <br>
    <a href="/loginform">로그인확인</a>
  </body>
</html>